{
	plugins: ['@babel/plugin-transform-runtime'],
	env: {
		client: {
			// Browser
			presets: ['@babel/preset-react', '@babel/preset-env'],
			plugins: ['@babel/plugin-transform-runtime']
		}
	}
}

// vim: ts=4
